
<!-- Contenu principal -->
<div class="login-container">
    <div class="login-card">
        <!-- Icône -->
        <div class="login-icon">
            <i class="bi bi-hospital"></i>
        </div>

        <!-- Texte de bienvenue -->
        <p class="welcome-text">Bienvenue sur</p>
        <h5 class="system-title">Système de Gestion de Rendez-vous Médicaux</h5>

        <!-- Titre -->
        <h2 class="login-title">Se connecter</h2>

        <!-- Formulaire -->
        <form #loginForm="ngForm" (ngSubmit)="onLogin()">

            <div class="mb-3">
                <label class="form-label">Login</label>
                <input type="text" class="form-control" placeholder="Email ou nom d'utilisateur" [(ngModel)]="userLogin.email" name="userLogin">
            </div>

            <div class="mb-3">
                <label class="form-label">Mot de passe</label>
                <input type="password" class="form-control" placeholder="Mot de passe" [(ngModel)]="userLogin.password" name="userLogin">
            </div>

            <div class="text-end mb-3">
                <a class="forgot-link">Mot de passe oublié?</a>
            </div>

            <button type="submit" class="btn btn-primary w-100">Se connecter</button>
        </form>

        <!-- Lien inscription -->
        <p class="register-text">
            Pas encore inscrit? <a class="register-link">S'inscrire</a>
        </p>
    </div>
</div>

